#root {
  margin: 0 auto;
  text-align: center;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Pages */
.jobFormBox {
  max-width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.jobBox {
  max-width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.jobAnnouce {
  margin: 10px;
  background-color: rgb(175, 252, 226);
}